@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

section {
  padding: 5rem 9%;
}



.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}

/* DARK OVERLAY */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* Adjust for more or less darkness */
  z-index: 1;
}

/* CONTENT ABOVE OVERLAY */
.home .content {
  position: relative;
  z-index: 2;
  width: 55rem;
}

/* N E W   N A V */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 03rem 08rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: transparent !important;  /* IMPORTANT */
}
.logo
{
   display: flex;
}
#logo
{
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.2rem;
  border-radius: 50%;
  
}
.logo h1{
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 3rem;
  margin-top: 0.8rem;
}
#sign {
  display: flex;
  justify-content: center;
  align-items: center;        
  margin-top: 2rem;
}

#a1 {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 400px) 
{
  #a1
  {
     font-size: 1.0rem;
     width: 09rem;
  }
}


/* Hover Effect */
#a1:hover {
  background-color: white;
  color: black;
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/*Content*/

#content
{
  width: 100%;
  height: 200rem;
}


/* TEXT STYLING */
.home .content span {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1px;
}

.home .content h3 {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 700;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 1.8;
  color: #e9e9e9;
  margin-top: 1rem;
}

/* BUTTON */
.home .content .btn {
  display: inline-block;
  margin-top: 6rem;
  padding: 1rem 2.5rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 50px;
  transition: 0.3s;
}

.home .content .btn:hover {
  background: #ffffff;
  color: #000;
}



.footer {
  background: linear-gradient(to bottom, #1F2D24, #3A5A40);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #EAEDE8;       /* primary text */
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #EAEDE8;       
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #EAEDE8;      
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
   color: #DDE5DE;
}

.footer .credit span {
   color: #47b16b;
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

#login
{
  width: 35%;
  height: 50rem;
  background-color: #F4F1EF;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none;
}
#f1
{
  width: 100%;
  height: 100%;
}

#login button
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
#login h1{
  margin-top: 05rem;
  margin-left: 42%;
  font-size: 03rem;
  color:#1F2D2B;
}
.inpl1
{
  width: 62%;
  height: 11%;
  background-color:#ebe8e8;
  margin-left: 18%;
  margin-top: 03rem;
  padding-left: 2rem;
  border: 0.2rem solid #9AA5A1;
  border-radius: 3rem;
  color: #8C8C8C;
}
#lbtn
{
  width: 62%;
  height: 11%;
  margin-left: 18%;
  margin-top: 03rem;
  font-size: 1.7rem;
  background-color: #2F7F7A;
  color: #FFFFFF;

}
#lbtn:hover
{
  background-color: #246460;
}
#text
{
  margin-top: 2.5rem;
  margin-left: 10%;
  font-size: 1.5rem;
}

#f2
{
  width: 100%;
  height: 100%;
}
#register h1{
  margin-top: 05rem;
  margin-left: 40%;
  font-size: 03rem;
  color:#1F2D2B;
}
.inpl2
{
  width: 62%;
  height: 11%;
  background-color:#ebe8e8;
  margin-left: 19%;
  margin-top: 03rem;
  padding-left: 2rem;
  border: 0.2rem solid #9AA5A1;
  border-radius: 3rem;
  color: #8C8C8C;
}
#rbtn
{
  width: 62%;
  height: 11%;
  margin-left: 19%;
  margin-top: 03rem;
  font-size: 1.7rem;
  background-color: #2F7F7A;
  color: #FFFFFF;

}
#rbtn:hover
{
  background-color: #246460;
}
#text
{
  margin-top: 2.5rem;
  margin-left: 20%;
  font-size: 1.5rem;
}

#register
{
  width: 35%;
  height: 60rem;
  background-color: #F4F1EF;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none;
}
#register button
{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

#first
{
  width: 100%;
  height: 50rem;
  background-color:#e0e2e1 ;
}

#eobs
{
  width: 100%;
  height: 50rem;
  background-color: #ffffff;
  display: flex;
}
#maineobs
{
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 07%;
  padding-left: 10%;
}
#maineobs h1
{
    font-size: 4rem;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    color:  #0F1A14;
}

#para
{
    font-size: 1.67rem;
    padding-top: 2rem;
    width: 100%;
    color:  #2f3934;
}
#lm
{
  margin-top: 2.5rem;
  height: 4.5rem;
  width: 16rem;
  font-size: 1.8rem;
  background: transparent;
  background-color: #25352b;
  color: #EAEDE8; 
  border-radius: 05rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
#lm:hover {
  background-color: transparent;
  color: #1F2D24;
  border: 0.3rem solid #1F2D24;
}
#subeobs
{
  width: 100%;
  height: 100%;
  background: url("../images/bg1\ \(2\).png") no-repeat center;
  background-size: cover;
  margin-top: 05rem;
  
}
@media screen and (max-width: 450px) {
#subeobs
{
  margin-left: 2rem;
  background: url("../images/bg13.png") no-repeat center;
  background-size: cover;
}
#eobs
{
  margin-top: 04rem;
}
}



@media screen and (min-width: 992px) {
  #subeobs
  {
       margin-left: 15rem;
  }
}

#cbr
{
  width: 100%;
  height: 50rem;
  background-color: #1F2D24;
  margin-top: 10rem;
  display: flex;
}
#gridcon
{
  height: 100%;
  width: 100%;
  background-color: #1F2D24;
}
#descon
{
  width: 60%;
  height: 100%;
  background-color: #246460;
}

@media screen and (max-width: 992px) {
  #cbr
  {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 450px) {
 
 #cbr
 {
   margin-top: 25rem;
   display: block;
 }   
 #descon
 {
  width: 100%;
  height: 60%;
 }
 #gridcon
 {
    width: 100%;
    height: 100%;
 }
 

}